html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
}

.container {
  width: 90%;
  margin: auto;
}
.container ul {
  list-style: none;
}
.container ul li {
  font-size: 1.5rem;
}
.container h3 {
  font-size: 3rem;
  line-height: 50px;
  letter-spacing: 2.2px;
}
.container nav {
  display: flex;
  justify-content: space-between;
  margin: 3% 0%;
}
.container nav .logo {
  align-self: center;
}
.container nav ul {
  display: flex;
  justify-content: center;
}
.container nav ul li {
  margin: 0 10px;
}
.container nav ul a {
  text-decoration: none;
  color: #111111;
  font-weight: 600;
}
.container nav .nav-icon {
  align-self: center;
  color: #111111;
  font-size: 50px;
}
.container .top-bgimg {
  background: url("slider.jpg");
  height: 450px;
  background-position: center;
  position: relative;
}
.container .top-bgimg .content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 5px;
  border: #fff solid 2px;
}
.container .top-bgimg .content span {
  color: #fff;
  font-size: 3rem;
  padding: 15px;
}
.container footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.container footer ul li {
  color: #878787;
  margin: 20px 0;
}
.container footer .location iframe {
  width: 100%;
  height: 100%;
}

.foods {
  margin-top: 5rem;
}
.foods_item1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foods_content {
  flex: 1;
}
.foods_content p {
  font-size: 1.1rem;
  color: #878787;
  letter-spacing: 2.2px;
  line-height: 24.97px;
}
.foods_content p:nth-of-type(2) {
  font-size: 1.5rem;
  max-width: 80%;
  letter-spacing: 0.15px;
}
.foods_images {
  flex: 1;
  position: relative;
}
.foods_images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.foods_item2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  padding: 3rem 0rem;
}
.foods_item2 .img-cont2 {
  left: 30%;
  bottom: 1rem;
}
.foods_item2 .foods_content {
  flex-basis: 40%;
}
.foods_item2 .foods_content p:nth-of-type(2) {
  max-width: 100%;
}
.foods_item2 .foods_images {
  flex-basis: 60%;
}

.img-cont {
  width: 300px;
  height: 499px;
}

.img-cont2 {
  position: absolute;
  bottom: -4rem;
  left: 30%;
  width: 40rem;
  height: 27rem;
}

.btn {
  background-color: transparent;
  border: 1px solid #111111;
  color: #111111;
  font-family: "Bebas Neue", cursive;
  padding: 1.5rem 3rem;
  margin-top: 0.5rem;
  letter-spacing: 0.25px;
  font-size: 1.5rem;
  cursor: pointer;
}

.side-social {
  position: fixed;
  top: 25%;
  left: 0.3rem;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.side-social p {
  transform: rotateZ(270deg);
  font-size: 1.1rem;
  letter-spacing: 2.2px;
  line-height: 26px;
  color: #878787;
}

@media only screen and (max-width: 1024px) {
  .nav-list {
    display: none;
  }

  .nav-icon .grid {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
