$primary-color: #111111;
$secondary-color: #fff;
$tertiary-color:#878787;
$font-sm:1.1rem;
$font-md:1.5rem;
$font-lg:3rem;
$bebas:'Bebas Neue',cursive;
$roboto: 'Roboto',
sans-serif;

@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', cursive;
}

.container {
    width: 90%;
    margin: auto;

    ul {
        list-style: none;

        li {
            font-size: $font-md;
        }
    }

    h3 {
        font-size: $font-lg;
        line-height: 50px;
        letter-spacing: 2.2px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3% 0%;


        .logo {
            align-self: center
        }

        ul {
            display: flex;
            justify-content: center;

            li {
                margin: 0 10px;
            }

            a {
                text-decoration: none;
                color: $primary-color;
                font-weight: 600;

            }
        }

        .nav-icon {
            align-self: center;
            color: $primary-color;
            font-size: 50px;
        }
    }

    .top-bgimg {
        background: url('slider.jpg');
        height: 450px;
        background-position: center;
        position: relative;

        .content {
            position: absolute;
            bottom: 20px;
            left: 20px;
            padding: 5px;
            border: #fff solid 2px;

            span {
                color: #fff;
                font-size: $font-lg;
                padding: 15px;
            }

        }
    }

    footer {
        display: flex;
        justify-content: space-between;
        padding-top: 5rem;
        ul li {
            color: #878787;
            margin: 20px 0;
        }

        .location iframe {
            width: 100%;
            height: 100%;
        }

    }
}

.foods {
    margin-top: 5rem;

    &_item1 {
        @include flex;
    }

    &_content {
        flex: 1;

        p {
            font-size: $font-sm;
            color: $tertiary-color;
            letter-spacing: 2.2px;
            line-height: 24.97px;

            &:nth-of-type(2) {
                font-size: $font-md;
                max-width: 80%;
                letter-spacing: 0.15px;
            }
        }

    }

    &_images {
        flex: 1;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    &_item2 {
        @include flex;
        margin-top: 5rem;
        padding: 3rem 0rem;

        .img-cont2 {
            left: 30%;
            bottom: 1rem;
        }

        .foods_content {
            flex-basis: 40%;

            p:nth-of-type(2) {
                max-width: 100%;
            }
        }

        .foods_images {
            flex-basis: 60%;
        }
    }
}

.img-cont {
    width: 300px;
    height: 499px;
}

.img-cont2 {
    position: absolute;
    bottom: -4rem;
    left: 30%;
    width: 40rem;
    height: 27rem;
}

.btn {
    background-color: transparent;
    border: 1px solid $primary-color;
    color: $primary-color;
    font-family: $bebas;
    padding: 1.5rem 3rem;
    margin-top: 0.5rem;
    letter-spacing: 0.25px;
    font-size: 1.5rem;
    cursor: pointer;
}

.side-social {
    position: fixed;
    top: 25%;
    left: .3rem;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        transform: rotateZ(270deg);
        font-size: 1.1rem;
        letter-spacing: 2.2px;
        line-height: 26px;
        color: $tertiary-color;
    }
}

@media only screen and (max-width: 1024px) {
    .nav-list {
        display: none;
    }
    .nav-icon .grid{
        display: none;
    }

}

ul {
    li{
        i{
            margin-right: 0.5rem;
        }
    }
}

.grid{
    font-size: 30px;
}